<div class="w-screen h-screen overflow-hidden flex flex-row items-center bg-[url('/assets/home/fondo.jpg')] p-20">
    <div class="h-full w-full flex flex-col justify-center items-start mb-20">
        <h2 class="text-[45px] text-slate-100 font-bold">Bienvenido a</h2>
        <h1 class="text-[75px] text-slate-100 font-black">Sala de Juegos</h1>
        <h3 class="text-[15px] text-black font-bold">Registrate para disfrutar de los mejores juegos en linea... ¿Que estas esperando?</h3>
    </div>
    <div class="h-full w-auto flex justify-center items-center">
        <div class="h-auto w-96 rounded-3xl bg-slate-200 shadow-2xl flex items-center flex-col gap-4 px-5 py-10">
            <div class="w-full flex flex-col items-center gap-2">
                <img src="/assets/joystick.png" alt="" height="60px" width="60px" />
                <p class="text-zinc-900 font-bold text-2xl">Registrate </p>
            </div>
            <div class="w-full flex flex-col items-center gap-5 mt-1">
                <input [(ngModel)]="email" type="email" placeholder="Correo electronico" class="p-2 h-12 w-[80%] rounded-md bg-zinc-900 text-slate-100 focus:bg-white focus:text-zinc-900 transition-all duration-500">
                <input [(ngModel)]="password" type="password" placeholder="Contraseña" class="p-2 h-12 w-[80%] rounded-md bg-zinc-900 text-slate-100 focus:bg-white focus:text-zinc-900 transition-all duration-500">
                <button (click)="register()" class="h-12 w-[80%] flex justify-center items-center bg-customBlue text-slate-100 font-bold rounded-md hover:bg-slate-100 hover:text-customBlue transition-all duration-500">Registrarse</button>
            </div>
            <div class="flex flex-row justify-center text-sm gap-1 font-medium mb-2">
                <p class="text-zinc-900">¿Ya tienes una cuenta?</p>
                <p (click)="redirectToLogin()" class="text-customBlue cursor-pointer hover:underline hover:text-blue-950">Iniciá Sesión</p>
            </div>
        </div>
    </div>
</div>
